---
# tasks for docker role
  - name: Install docker Debian
    block:

      - name: Add Docker GPG apt Key
        apt_key:
          url: https://download.docker.com/linux/ubuntu/gpg
          state: present

      - name: Add Docker Repository
        apt_repository:
          repo: deb https://download.docker.com/linux/ubuntu focal stable
          state: present

      - name: Update apt and install docker-ce
        apt:
          name: docker-ce
          state: latest
          update_cache: true

      - name: Ensure docker service is running
        systemd:
          name: docker
          state: restarted
          enabled: yes

      - name: Install docker-compose
        apt:
          name: docker-compose
          state: latest

    when: ansible_os_family == "Debian"

  - name: Install docker RedHat
    block:

      - name: Add Docker GPG Key
        ansible.builtin.rpm_key:
          state: present
          key: https://download.docker.com/linux/centos/gpg

      - name: Add docker-ce repository
        shell: "yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo"

      - name: Install docker-ce
        ansible.builtin.yum:
          name: docker-ce
          state: latest

      - name: Ensure docker service is running
        systemd:
          name: docker
          state: restarted
          enabled: yes

      - name: Install docker-compose
        ansible.builtin.yum:
          name: docker-compose
          state: latest

    when: ansible_os_family == "RedHat"

